html {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

body {
  margin: 0;
  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  overflow: hidden;
}

#header {
  height: 32px;
  padding: 0 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0;
  z-index: 1;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#title {
  flex-grow: 1;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  user-select: none;
}

#header > div {
  padding-right: 1em;
}

#container {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}

#status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 32px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0;
  z-index: 1;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  transition: bottom 250ms,
              box-shadow 250ms;
}
#status::before {
  content: 'Status:';
  margin: 0 1em;
}
#status.hidden {
  bottom: -32px;
  box-shadow: none;
}
