[package]
name = "oot-explorer-web"
version = "0.1.0"
authors = ["Michael VanBemmel <michael.vanbemmel@gmail.com>"]
edition = "2018"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
byteorder = "1"
console_error_panic_hook = "0.1"
js-sys = "0.3"
num-traits = "0.2"
oot-explorer-core = { path = "../oot-explorer-core" }
oot-explorer-gl = { path = "../oot-explorer-gl" }
scoped-owner = { path = "../scoped-owner" }
slotmap = "0.4"
wasm-bindgen = "0.2"

[dependencies.web-sys]
version = "0.3"
features = [
    "console",
    "Document",
    "ExtTextureFilterAnisotropic",
    "HtmlCanvasElement",
    "HtmlElement",
    "Node",
    "WebGl2RenderingContext",
    "WebGlSampler",
    "WebGlTexture",
    "Window",
]
